body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredokav One', cursive;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

#mainContainer {
 margin: 0;
 padding: 0;
}

h1, h2 {
    margin: 10px 0;
    text-align: center;
}

#heading{
    margin-bottom: 20px;
    font-size: 2rem;
    color: #060707;
    text-shadow: 0 0 1px #00FFFF, 0 0 10px #00FFFF, 0 0 20px #00CED1;
}

h2 {
    font-size: 1rem;
    color:  #0be8e8;
    text-shadow: 0 0 1px #000000, 0 0 5px #000000, 0 0 10px #000000;
}

#high {
    display: inline-block;
    font-size: 1.5rem;
}
.highscore {
    margin: 10px 0;
    font-size: 1rem;
    color: #41ec97;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.line-one, .line-two {
    display: flex;
    gap: 9px;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 10px #271b1b;
    transition-duration: 0.2s;
    margin: 2px;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 6px 6px #271b1b;
    outline: none;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}

button {
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 7px;
    color: rgb(10, 1, 1);
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredokav One', cursive;
    border: 2px solid #383535;
    background-color: rgb(110, 247, 110);
    box-shadow: 6px 6px #271b1b;
    transition-duration: 0.2s;
}

button:active {
    transform: translateY(2px);
    box-shadow: 4px 4px #271b1b;
}

h3 {
    cursor: pointer;
    text-align: center;
    color: #41ec97;
    transition-duration: 0.1s;
}

h3:hover {
    transform: scale(0.9);
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9 ;
}

.green {
    background-color: #63aac0 ;
}

.flash {
    background-color: white;
}
.userflash {
    background-color: #000000;
}

@media (max-width: 600px) {
    .btn {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    body {
        font-family: 'Orbitron', sans-serif;
    }

    button{
        font-family: 'Orbitron', sans-serif;
    }
}

#helpDiv {
    margin: 80px auto;
    padding: 20px;
    width: 600px;
    height: 450px;
    background: rgb(61, 58, 58);
    border-radius: 30px;
    text-align: center;
    opacity: 0.9;
  }

  @media (max-width: 768px) {
    #helpDiv {
        align-content: center;
        margin: 20px;
        width: 80%;
        height: 90%;
    }
  }
 