body{
    text-align: center;
    color: white;
    background-color:black;
    padding: 10px;
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;

}
.btn{
    height: 15vw;
    width: 15vw;
    border-radius: 20%;
    border: 5px solid black;
    min-width: 60px; 
    min-height: 60px;
    margin: 2vw;
    cursor: pointer;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: #819ff9 ;
}
.green{
    background-color: #63aac0 ;
}
.flash{
    background-color: black;
}
.userflash{
    background-color: yellow;
}

.btn:hover {
    transform:scale(1.025);
    transition: transform 0.2s ease;
}

@media (max-width: 768px) {
    .btn {
      height: 20vw;
      width: 20vw;
    }
}



  